.footer {
  padding: 80px 0px 88px 0px;
  background: var(--bg-gradient);

  border-radius: 64px 64px 0 0;

  margin-top: -64px;

  position: relative;
  z-index: 2;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 48px;

  border-bottom: 1px solid rgba(220, 221, 224, 0.12);
}

.footer__logos {
  max-width: 460px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.footer__logo-link {
  transition: 0.3s;
  &:hover {
    & .footer__logo-image {
      opacity: 0.7;
    }
  }
}

.footer__logo-image {
  display: block;
  transition: 0.3s;
}

.footer__address {
  max-width: 210px;
}

.footer__address-city {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-white);
}

.footer__address-street {
  font-family: var(--font-nunitosan);
  font-size: 14px;
  color: var(--text-white);
  opacity: 0.7;
}

.footer__contacts {
  text-align: end;
}

.footer__tel-link {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: var(--text-white);

  transition: 0.3s;

  &:hover {
    color: var(--text-blue);
  }
}

.footer__mail-link {
  display: block;
  font-family: var(--font-nunitosans);
  font-size: 16px;
  color: var(--text-white);
  opacity: 0.7;
  transition: 0.3s;

  &:hover {
    opacity: 1;
    color: var(--text-blue);
  }
}

.footer__contacts--job {
  margin-bottom: 20px;
}

.footer__contacts-title {
  color: var(--text-white);
  font-size: 14px;
  font-family: var(--font-nunitosan);
  opacity: 0.7;

  margin-bottom: 2px;
}

.footer__mail-link--job {
  color: var(--text-white);
  font-weight: 700;
  font-size: 18px;

  opacity: 1;
}

.footer__middle {
  padding: 48px 0;
  border-bottom: 1px solid rgba(220, 221, 224, 0.12);
}

.footer__middle-columns {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  grid-template-areas: "column-1 column-2 column-3 column-4 column-5";
}

.column-1 {
  grid-area: column-1;
}

.column-2 {
  grid-area: column-2;
}

.column-3 {
  grid-area: column-3;
}

.column-4 {
  grid-area: column-4;
}

.column-5 {
  grid-area: column-5;
}

.footer__column-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: var(--text-white);

  margin-bottom: 16px;
}

.footer__column-title--margin {
  margin-bottom: 24px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.footer__nav-link {
  font-family: var(--font-nunitosan);
  color: var(--text-white);
  opacity: 0.7;

  font-size: 14px;
  padding: 5px 0;

  transition: 0.3s;

  &:hover {
    opacity: 1;
    color: var(--text-blue);
  }
}

.footer__nav-list--biglinks {
  row-gap: 24px;
}

.footer__nav-link--big {
  color: var(--text-white);
  font-family: var(--font-manrope);
  font-size: 18px;
  font-weight: 700;
  opacity: 1;
}

.footer__socials {
  display: flex;
  max-width: 132px;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
}

.footer__socials-link {
  display: flex;
  align-items: center;

  padding: 9px 10px;
  border-radius: 50px;

  width: 44px;
  height: 44px;

  background-color: rgba(252, 252, 252, 0.1);

  transition: 0.3s;

  &:hover {
    background-color: var(--ui-blue);
  }
}

.footer__bottom {
  padding: 48px 0 0px 0;
}

.footer__bottom-columns {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.privacy-link {
  font-family: var(--font-nunitosans);

  font-size: 14px;

  color: var(--text-white);
  opacity: 0.7;

  transition: 0.3s;

  &:hover {
    opacity: 1;
    color: var(--text-blue);
  }
}

.copyright {
  font-family: var(--font-nunitosans);

  font-size: 14px;
  line-height: 140%;
  color: var(--text-white);
  opacity: 0.7;

  margin-bottom: 20px;
}
