.header {
  padding-top: 16px;

  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transition: 0.3s;
}

.header--scroll {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 16px;
}
