.services {
  margin-bottom: -64px;
  position: relative;
  z-index: 1;

  overflow: hidden;
}

.services__block--nordcore {
  background-color: var(--bg-darkgray);
  margin-bottom: -64px;
  position: relative;
  z-index: 1;

  & .services__card--slide-1 {
    & .card__decorate {
      background-image: url(../../images/cards-bg/card-bg-darkgreen.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  & .services__card--slide-2 {
    & .card__decorate {
      background-image: url(../../images/cards-bg/card-bg-lightgreen.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

.services__card {
  & .card__body-top {
    margin-bottom: 0;
  }

  & .card__title-wrapper {
    max-width: 400px;
  }
}

.services__block--swift {
  background-color: var(--bg-lightgray);
  position: relative;
  z-index: 0;

  & .services__card--slide-1 {
    & .card__decorate {
      background-image: url(../../images/cards-bg/card-bg-orange-top-left.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  & .services__card--slide-2 {
    & .card__decorate {
      background-image: url(../../images/cards-bg/card-bg-orange-top-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  & .services__card--slide-3 {
    & .card__decorate {
      background-image: url(../../images/cards-bg/card-bg-orange-bottom-left.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  & .services__card--slide-4 {
    & .card__decorate {
      background-image: url(../../images/cards-bg/card-bg-orange-bottom-right.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
