.solutions {
  border-radius: 0 0 64px 64px;

  // background: url(../../images/Solutions_bg.svg), var(--bg-gradient);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  background: var(--bg-gradient);

  padding-bottom: 120px;
  padding-top: 260px;

  margin-bottom: -64px;
  position: relative;
  z-index: 2;

  overflow: hidden;

  min-height: 2065px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../../images/Solutions_effects.svg);
    width: 100%;
    // height: 2359.94px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    pointer-events: none;
  }
}

.solutions__content-row {
  display: flex;
  position: relative;
  margin-bottom: 88px;
}

.solutions__content-row-image {
  position: relative;
  flex-grow: 1;
  pointer-events: none;
}

.solutions__content-row-img {
  position: absolute;
  top: -150px;
  right: -120px;
  width: 916px;
  height: 727px;
  z-index: -2;
  transition: 0.5s;
  pointer-events: none;
}

.solutions__title-wrapper--first {
  max-width: 663px;

  & .section-title {
    &::before {
      content: "//";
      color: var(--ui-electroblue);
    }
  }

  & .decorate-tablet-left {
    background-color: var(--ui-electroblue);
    padding: 0px 5px 10px 32px;
  }
  & .decorate-tablet-right {
    background-color: var(--ui-electroblue);
    padding: 0px 32px 10px 5px;
  }

  & .section-description {
    max-width: 560px;
  }
}

.facts:not(:last-child) {
  margin-bottom: 120px;
}

.solutions__cards {
  margin-bottom: 160px;
}

.common-wrapper {
  & .solutions__content-row-img {
    width: 1041px;
    height: 1073px;
    right: -320px;
    top: -390px;
  }
}

.solutions__title-wrapper--second {
  max-width: 673px;

  & .section-title {
    font-size: 48px;

    &::before {
      content: "//";
      color: var(--ui-purple);
    }
  }

  & .decorate-tablet-left {
    background-color: var(--ui-purple);
    padding: 0px 5px 6px 32px;
  }
  & .decorate-tablet-right {
    background-color: var(--ui-purple);
    padding: 0px 32px 6px 5px;
  }

  & .section-description {
    max-width: 535px;
  }
}

// .solutions__cards {
//   margin-bottom: 160px;
// }

.solutions__card--swift {
  & .card__decorate {
    background: var(--gradient-orange);
  }

  & .card__tags-links-decorate::before {
    background-color: var(--ui-orange);
  }

  & .card__tags-link {
    background-color: var(--ui-orange);
  }
}

.solutions__card--nordcore {
  & .card__decorate {
    background: var(--gradient-green);
  }

  & .card__tags-links-decorate::before {
    background-color: var(--ui-green);
  }

  & .card__tags-link {
    background-color: var(--ui-green);
  }
}
